@import "~bootstrap/dist/css/bootstrap.css";

*, *::after, *::before {
  margin: 0;
  // padding: 0;
  box-sizing: border-box;
}

.sr-only {
  display: none;
}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
